{% extends 'Dashboard/baseAdmin.html.twig' %}


{% block title %}Liste des menus
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Liste des menus</h1>
		{% for message in app.flashes('success') %}


			<div class="alert alert-success col-8 mx-auto text-center my-4 d-none" id="alertMessage">
				{{message}}
			</div>
			{% block javascripts %}
				<script>
					var div1 = document.getElementById('alertMessage');

					showMessage(div1.innerHTML)
				</script>

			{% endblock %}

		{% endfor %}

		<a href="{{ path('app_admin_menu_new') }}" class="btn btn-success">Nouveau menu</a>
		<table class="table text-center align-middle">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Contenu</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for menu in menus %}
					<tr>
						<td>{{ menu.id }}</td>
						<td>{{ menu.titre }}</td>
						<td>{{ menu.description }}</td>
						<td>{{ menu.prix | number_format(2) }} €</td>
						<td>
							<ul>
								{% for produit in menu.produit %}
									<li>{{produit.titre}}</li>
								{% endfor %}

							</ul>

						</td>
						<td>
							<a href="{{ path('app_admin_menu_edit', {'id': menu.id}) }}">
								<i class="bi bi-pencil" style="font-size: 2rem; color: blue;"></i>
							</a>
						</td>
						<td>
							{{ include('admin_menu/_delete_form.html.twig') }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Pas de menu crée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation d-flex justify-content-center mt-5">
			{{ knp_pagination_render(menus) }}
		</div>
	</div>
{% endblock %}
