<footer> 
    <div id="footer_container">
        <div id="left_footer">
            <p id="footer_title">Le grand gourmet</p>
            <p id="footer_text">est un restaurant qui répond à chacune de vos attentes. Nous somme une petite équipe de restaurateur armoureux de la bonne cuisine, dévoué à vous faire gouter des plats à un raport qualité/prix inégalable. Commandé et découvré par vous même ! Ouvert 7j/7 de 11h à 1h du matin.</p>
            <p class="footer_copyright">&copy Copyright 2022. Tout droit réservé</p>
            <a class='footer_copyright mention' href="{{path('app_mention_legales')}}">Mention légales</a>
            <a class='footer_copyright mention' href="#"> CGV</a>
        </div>

        <div id="right_footer">
            <div id="footer_link">
            <a class="foot_link" href="{{path('app_home')}}">Home</a>
            <a class="foot_link" href="#">Catégorie</a>
            <a class="foot_link" href="{{path('profile_index')}}">Profil</a>
            <a class="foot_link" href="#">Paramètres</a>
        </div> 
        
        <div id="network_link">
            <a href="https://fr-fr.facebook.com/"><img src="{{asset('images/icon-facebook.svg')}}" alt="facebook icon"></a>
            <a href="https://twitter.com/?lang=fr"><img src="{{asset('images/icon-twitter.svg')}}" alt="facebook icon"></a>
            <a href="https://www.instagram.com/?hl=fr"><img src="{{asset('images/icon-instagram.svg')}}" alt="facebook icon"></a>
        </div>
    </div>
</footer>